<!doctype html>
<html ng-app="certTable">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="certTableController">
        <h1> Lo logréee</h1>
        <table>
            <tr>
                <td>Nombre</td>
                <td>Certificados</td>
            </tr>
            <tr ng-repeat="person in team.team">
                <td>{{person.name}}</td>
                <td>
                    <span ng-repeat="cer in person.certifications track by $index">
                        <img-cert cer="cer"></img-cert>
                    </span>
                </td>>
            </tr>
        </table>
    </body>
</html>
