<!doctype html>
<html ng-app="certTable">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="certTableController" style="background: whitesmoke;">
        <h1> Certificaciones (Beta-Preview)</h1>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Insignia</th>
                <th>Medallas</th>
                <th>Puntos</th>
                <th>Rutas</th>
                <th>Certificados</th>
            </tr>
            <tr ng-repeat="person in team.team">
                <td>{{person.name}}</td>
                <td><img src='{{person.badges_img}}' width=85px/> </td>
                <td>{{person.badges}}</td>
                <td>{{person.point}}</td>
                <td>{{person.trails}}</td>
                <td>
                    <span ng-repeat="cer in person.certifications track by $index">
                        <img-cert cer="cer"></img-cert>
                    </span>
                </td>
            </tr>
        </table>
    </body>
</html>
